*,
*: after,
*: before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
}

header {
  background-color: #404041;
  margin: auto;
  text-align: center;
  padding: 15px;
}

h1 {
  font-size: 2.5rem;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  margin: 0;
  color: #E6E7E8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

h1 span {
  color:  #ED458B;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.message {
  padding: 2rem;
}

.words {
  padding-top: 3rem;
}

.feedBackNumber {
  color: #ED458B;
  font-size: 5rem;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.inputs {
  border: 1px solid #D8D9DA;
  border-radius: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  line-height: 1rem;
  padding: 0.45rem;
  width: 18rem;
}

.buttons {
  background-image: linear-gradient(to bottom, #ED458B, #E6E7E8);
  /*background-image: linear-gradient(to bottom, #929497, #6f6f6f)*/
  background: #929497;
  border-radius: 15px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 2rem 0.50rem;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  width: 9rem;
}

.buttons:hover {
  cursor: pointer;
}
