*,
*: after,
*: before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header {
  background-color: #404041;
  border: 0.5rem solid #ED458B;
  height: 8rem;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  text-shadow: 30px 30px 5px black;
}

h1 span {
  color:  #ED458B;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-shadow: 30px 30px 5px black;
}

h1 {
  color: #E6E7E8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.words {
  padding-top: 3rem;
}

.feedBackNumber {
  color: #ED458B;
  font-size: 5rem;
}

.inputs {
  box-shadow: 30px 30px 15px #666666;
  font-size: 1.75rem;
  line-height: 1rem;
  padding: 0.45rem;
  width: 18rem;
}

.buttons {
  background: #929497;
  border-radius: 25px;
  box-shadow: 15px 30px 30px #666666;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 2rem 0.50rem;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  width: 9rem;
}

.buttons:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #70d934);
  box-shadow: 30px 30px 15px #666666;
  text-decoration: none;
}

.playerRange {
  background-color: #ED458B;
  border: 0.5rem solid #404041;
}
